<ol *ngIf="breadcrumbs.length > 1" class="breadcrumb">
  <li>
    <span [routerLink]="breadcrumbs[breadcrumbs.length - 2].url" routerLinkActive="router-link-active"
      class="d-flex align-items-center mr-2 cursor-pointer">
      <span class="material-icons link-arrow">
        arrow_back
      </span>
    </span>
  </li>
  <li *ngFor="let breadcrumb of breadcrumbs; let i = index">
    <span [routerLink]="breadcrumb.url" routerLinkActive="router-link-active" class="d-flex align-items-center">
      <div class="link-text" [ngClass]="{'active-link': i == breadcrumbs.length - 1}"> {{ breadcrumb.label }}</div>
      <span *ngIf="i != breadcrumbs.length - 1" class="material-icons link-arrow">
        navigate_next
      </span>
    </span>
  </li>
</ol>
