.text-grey {
  color: #878787 !important;
}

.font-12px {
  font-size: 12px !important;
}

.font-13px {
  font-size: 13px !important;
}

.font-14px {
  font-size: 14px !important;
}

.font-16px {
  font-size: 16px !important;
}

.font-21px {
  font-size: 21px !important;
}

.font-wt-300 {
  font-weight: 300 !important;
}

.font-wt-400 {
  font-weight: 400 !important;
}

.font-wt-500 {
  font-weight: 500 !important;
}

.font-wt-700 {
  font-weight: 700 !important;
}

.btn-custom-outline {
  border: 1px solid #878787 !important;
  box-sizing: border-box !important;
  border-radius: 3px !important;
  background: #FFFFFF !important;
  color: black !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  padding: 10px auto;
}

.cursor-pointer {
  cursor: pointer !important;
}
