<div class="resp-container" [class.resp-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="resp-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="isSmallScreen">
      <mat-icon aria-hidden="false"> menu </mat-icon>
    </button>
    <ng-content select="[content-header]"></ng-content>
  </mat-toolbar>

  <mat-sidenav-container class="resp-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="!isSmallScreen" [disableClose]="!isSmallScreen">
      <mat-nav-list>
        <ng-content select="[content-sidenav]"></ng-content>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="bg-custom-light">
      <ng-content select="[content-router-outlet]"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
